@font-face {
  font-family: "Ephesis";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../font/Ephesis/Ephesis-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Bodoni Moda";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../font/Bodoni_Moda/BodoniModa-VariableFont_opsz,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Bodoni Moda";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../font/Bodoni_Moda/BodoniModa-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url("../font/Quicksand/Quicksand-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Allura";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../font/Allura/Allura-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DM Serif Text";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../font/DM_Serif_Text/DMSerifText-Regular.ttf") format("truetype");
}

:root {
  --font-fancy: "Ephesis", cursive;
  --font-serif: "Bodoni Moda", serif;
  --font-sans: "Quicksand", sans-serif;
  --font-artistic: "Allura", cursive;
  --font-credit: "DM Serif Text", serif;
}

h1 {
  font-size: 45px;
  font-display: swap;
}

h2 {
  font-size: 40px;
  font-display: swap;
}

p {
  font-family: var(--font-sans);
  font-optical-sizing: auto;
  font-style: normal;
}

.name {
  font-family: var(--font-fancy);
  font-weight: 400;
  font-style: normal;
  font-size: clamp(2.5rem, 8vw, 55px);
}

.name-subpage {
  font-family: var(--font-serif);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.hashtag {
  font-family: var(--font-artistic);
  font-weight: 400;
  font-style: normal;
}

.credit {
  font-family: var(--font-credit);
  font-weight: 400;
  font-style: normal;
}
